//Primay Color

$primary-main: #504de5;
$primary-dark: #9694ef;
$primary-light: #d5d4f9;

//Secondary color

$secondary-main: #3b566e;
$secondary-dark: #6f8ba4;
$secondary-light: #c0d1e1;
$secondary-grey: #dfe8f0;

//Background

$bg-default: #fcfbfb;
$bg-paper: #fff;

//Error

$error: #e26453;

//Box Shadows
$bx-shadow-soft: 0px 0px 1px rgba(0, 0, 0, 0.04),
  0px 2px 6px rgba(0, 0, 0, 0.04), 0px 6px 24px rgba(0, 0, 0, 0.06);
$bx-shadow-hard: 0px 0px 4px rgba(0, 0, 0, 0.25);
