@import '../../styles/style.scss';

.nav {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  padding: 0px 10px;
  background-color: $primary-main;
  @include flexy($justify: space-between, $align: center);

  @media (max-width: 375px) {
    height: 80px;
  }
}

.logoIcon {
  height: 70%;
  @media (max-width: 768px) {
    height: 60%;
  }
  @media (max-width: 375px) {
    height: 35%;
  }
}

.headerTitle {
  color: $bg-paper;
  font-size: 18px;
}

.account {
  color: $bg-paper;
  padding: 10px;
  @include flexy($justify: space-between, $align: center, $wrap: nowrap);
}
.avatar {
  margin-right: 10px;
  background-color: $bg-paper;
  border-radius: 50px;
}

.accountName {
  padding-right: 10px;
}

.logoutIcon {
  height: 50%;
  margin-right: 10px;
}
