@import '../../styles/partials';
.navHeader {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  top: 0;
  height: 60px;
  background-color: $primary-main;
  @media (max-width: 768px) {
    height: 80px;
  }
}
.nav {
  flex-grow: 12;
  // width: 65%;
  padding: 0px 10px;
  @include flexy($justify: center, $align: center, $wrap: nowrap);

  // @include flexy($justify: center, $align: center);
  @media (max-width: 768px) {
    // width: 90%;
  }
  @media (max-width: 375px) {
    // width: 90%;
  }

  & a {
    padding: 20px 0px 17px 0px;
    margin-right: 10px;

    min-width: 250px;
    @include flexy($justify: center, $align: space-between); // $wrap: nowrap);
    text-decoration: none;
  }
  & span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: white;
  }
}

.navImage {
  height: 50%;
}

.logoIcon {
  padding-left: 30px;

  @media (max-width: 768px) {
    width: 20%;
  }
  @media (max-width: 375px) {
    width: 30%;
  }
}

.headerTitle {
  text-transform: capitalize;
  color: $bg-paper;
  font-size: 18px;
  @media (max-width: 375px) {
    font-size: 16px;
  }
}

.logoutSection {
  flex-grow: 1;
  font-size: 12px;
  color: $bg-paper;
  text-decoration: none;
  padding-right: 30px;
  @include flexy($justify: flex-end, $align: center, $wrap: nowrap);
}

.logoutIcon {
  margin-right: 10px;
  height: 50%;

  // margin-right: 10px;
}
